<?xml version="1.0" ?>
<robot name="evolved_design">
  <link name="base_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="link_comp_0">
    <inertial>
      <mass value="0.601137"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.009528798" ixy="0" ixz="0" iyy="0.000623806" iyz="0" izz="0.008941351"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.019050 0.422050 0.109953"/>
      </geometry>
      <material name="link_comp_0_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.019050 0.422050 0.109953"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_0" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_0"/>
    <origin xyz="0.009525 0.211025 0.054976" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_1">
    <inertial>
      <mass value="0.719914"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.029328554" ixy="0" ixz="0" iyy="0.013645577" iyz="0" izz="0.042972921"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.476910 0.699184 0.003175"/>
      </geometry>
      <material name="link_comp_1_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.476910 0.699184 0.003175"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_1" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_1"/>
    <origin xyz="-0.238955 0.183647 0.062099" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_2">
    <inertial>
      <mass value="0.752391"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.035443700" ixy="0" ixz="0" iyy="0.000852228" iyz="0" izz="0.036275702"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.115892 0.751755 0.012700"/>
      </geometry>
      <material name="link_comp_2_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.115892 0.751755 0.012700"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_2" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_2"/>
    <origin xyz="0.009355 0.131930 0.116803" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_3">
    <inertial>
      <mass value="7.973381"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.217429432" ixy="0" ixz="0" iyy="0.328296722" iyz="0" izz="0.114189533"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.411529 0.050000 0.569853"/>
      </geometry>
      <material name="link_comp_3_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.411529 0.050000 0.569853"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_3" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_3"/>
    <origin xyz="0.205765 0.211244 0.284927" rpy="-0.076296 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_4">
    <inertial>
      <mass value="1.135613"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.040640646" ixy="0" ixz="0" iyy="0.067881395" iyz="0" izz="0.027245019"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.536540 0.004750 0.655306"/>
      </geometry>
      <material name="link_comp_4_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.536540 0.004750 0.655306"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_4" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_4"/>
    <origin xyz="-0.268770 0.187813 0.347075" rpy="-0.054786 -0.040631 -0.082233"/>
  </joint>
  <link name="link_comp_5">
    <inertial>
      <mass value="0.805765"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.009749813" ixy="0" ixz="0" iyy="0.016110251" iyz="0" izz="0.025854649"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.489780 0.380999 0.006350"/>
      </geometry>
      <material name="link_comp_5_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.489780 0.380999 0.006350"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_5" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_5"/>
    <origin xyz="0.157400 0.381994 0.203558" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_6">
    <inertial>
      <mass value="0.641104"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.037302975" ixy="0" ixz="0" iyy="0.028460161" iyz="0" izz="0.008843891"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.003175 0.406851 0.729862"/>
      </geometry>
      <material name="link_comp_6_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.003175 0.406851 0.729862"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_6" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_6"/>
    <origin xyz="0.288785 0.188091 0.935285" rpy="0.000000 -0.153479 -0.174028"/>
  </joint>
  <link name="link_comp_7">
    <inertial>
      <mass value="0.711865"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.010215128" ixy="0" ixz="0" iyy="0.032112316" iyz="0" izz="0.042326049"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.735737 0.414953 0.003429"/>
      </geometry>
      <material name="link_comp_7_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.735737 0.414953 0.003429"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_7" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_7"/>
    <origin xyz="0.008643 0.175134 0.125367" rpy="0.000000 0.000000 0.000000"/>
  </joint>
</robot>
