<?xml version="1.0" ?>
<robot name="evolved_design">
  <link name="base_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="link_comp_0">
    <inertial>
      <mass value="0.768596"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.034113626" ixy="0" ixz="0" iyy="0.017103133" iyz="0" izz="0.051215608"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.516740 0.729796 0.002997"/>
      </geometry>
      <material name="link_comp_0_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.516740 0.729796 0.002997"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_0" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_0"/>
    <origin xyz="0.258370 0.364898 0.001499" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_1">
    <inertial>
      <mass value="0.658332"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.015854358" ixy="0" ixz="0" iyy="0.023740530" iyz="0" izz="0.007888647"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.379171 0.004750 0.537558"/>
      </geometry>
      <material name="link_comp_1_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.379171 0.004750 0.537558"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_1" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_1"/>
    <origin xyz="0.741345 0.398024 0.268779" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_2">
    <inertial>
      <mass value="0.521573"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.008094898" ixy="0" ixz="0" iyy="0.021715280" iyz="0" izz="0.013621258"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.559803 0.003175 0.431546"/>
      </geometry>
      <material name="link_comp_2_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.559803 0.003175 0.431546"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_2" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_2"/>
    <origin xyz="0.166134 0.731884 0.215773" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_3">
    <inertial>
      <mass value="1.053972"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.015850476" ixy="0" ixz="0" iyy="0.007269775" iyz="0" izz="0.023091918"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.287417 0.424623 0.012700"/>
      </geometry>
      <material name="link_comp_3_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.287417 0.424623 0.012700"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_3" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_3"/>
    <origin xyz="0.220309 0.732444 0.438396" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_4">
    <inertial>
      <mass value="0.102988"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.001696381" ixy="0" ixz="0" iyy="0.001405224" iyz="0" izz="0.000291228"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002032 0.184199 0.404636"/>
      </geometry>
      <material name="link_comp_4_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002032 0.184199 0.404636"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_4" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_4"/>
    <origin xyz="0.897927 0.424789 0.362100" rpy="-0.175980 -0.105487 -0.098735"/>
  </joint>
  <link name="link_comp_5">
    <inertial>
      <mass value="0.499713"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.016675845" ixy="0" ixz="0" iyy="0.015475114" iyz="0" izz="0.032150657"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.609600 0.632808 0.001905"/>
      </geometry>
      <material name="link_comp_5_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.609600 0.632808 0.001905"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_5" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_5"/>
    <origin xyz="0.181850 1.050376 0.266497" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_6">
    <inertial>
      <mass value="1.564937"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.029473396" ixy="0" ixz="0" iyy="0.021295327" iyz="0" izz="0.050731235"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.403918 0.475247 0.011989"/>
      </geometry>
      <material name="link_comp_6_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.403918 0.475247 0.011989"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_6" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_6"/>
    <origin xyz="-0.316227 0.732447 0.178403" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_7">
    <inertial>
      <mass value="3.938692"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.076126174" ixy="0" ixz="0" iyy="0.037132488" iyz="0" izz="0.040634808"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.050000 0.348284 0.332613"/>
      </geometry>
      <material name="link_comp_7_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.050000 0.348284 0.332613"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_7" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_7"/>
    <origin xyz="0.924443 0.421300 0.332163" rpy="-0.083462 0.424613 0.249538"/>
  </joint>
  <link name="link_comp_8">
    <inertial>
      <mass value="0.557433"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.021551886" ixy="0" ixz="0" iyy="0.007242874" iyz="0" izz="0.028793897"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.394854 0.681134 0.003048"/>
      </geometry>
      <material name="link_comp_8_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.394854 0.681134 0.003048"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_8" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_8"/>
    <origin xyz="1.048575 0.672252 0.324326" rpy="0.000000 0.000000 0.000000"/>
  </joint>
</robot>
