<?xml version="1.0" ?>
<robot name="evolved_design">
  <link name="base_link">
    <inertial>
      <mass value="0.001"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
    </inertial>
  </link>
  <link name="link_comp_0">
    <inertial>
      <mass value="0.838824"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.039485466" ixy="0" ixz="0" iyy="0.015063259" iyz="0" izz="0.024425033"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.004496 0.591099 0.464189"/>
      </geometry>
      <material name="link_comp_0_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.004496 0.591099 0.464189"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_0" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_0"/>
    <origin xyz="0.002248 0.295550 0.232094" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_1">
    <inertial>
      <mass value="1.500321"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.046464279" ixy="0" ixz="0" iyy="0.119057487" iyz="0" izz="0.072598849"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.762000 0.004750 0.609600"/>
      </geometry>
      <material name="link_comp_1_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.762000 0.004750 0.609600"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_1" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_1"/>
    <origin xyz="0.002716 0.593974 0.304800" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_2">
    <inertial>
      <mass value="0.026576"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000520471" ixy="0" ixz="0" iyy="0.000000446" iyz="0" izz="0.000520204"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006350 0.484616 0.012700"/>
      </geometry>
      <material name="link_comp_2_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006350 0.484616 0.012700"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_2" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_2"/>
    <origin xyz="-0.381959 0.594301 0.356754" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_3">
    <inertial>
      <mass value="0.667781"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.036755775" ixy="0" ixz="0" iyy="0.020680131" iyz="0" izz="0.016076644"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002997 0.537483 0.609600"/>
      </geometry>
      <material name="link_comp_3_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.002997 0.537483 0.609600"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_3" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_3"/>
    <origin xyz="0.385714 0.594703 0.416882" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_4">
    <inertial>
      <mass value="0.434203"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.002761186" ixy="0" ixz="0" iyy="0.016445115" iyz="0" izz="0.019205450"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.674151 0.276222 0.003429"/>
      </geometry>
      <material name="link_comp_4_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.674151 0.276222 0.003429"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_4" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_4"/>
    <origin xyz="-0.382815 0.213382 0.413080" rpy="0.000000 -0.253033 -0.321895"/>
  </joint>
  <link name="link_comp_5">
    <inertial>
      <mass value="0.116365"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000540517" ixy="0" ixz="0" iyy="0.005635044" iyz="0" izz="0.005094546"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.724823 0.001000 0.236092"/>
      </geometry>
      <material name="link_comp_5_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.724823 0.001000 0.236092"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_5" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_5"/>
    <origin xyz="0.419538 0.364145 0.483757" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_6">
    <inertial>
      <mass value="3.057755"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.180447841" ixy="0" ixz="0" iyy="0.089643326" iyz="0" izz="0.090886713"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012700 0.597092 0.592992"/>
      </geometry>
      <material name="link_comp_6_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012700 0.597092 0.592992"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_6" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_6"/>
    <origin xyz="0.390566 0.593625 0.296496" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_7">
    <inertial>
      <mass value="2.005777"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.159167763" ixy="0" ixz="0" iyy="0.097060254" iyz="0" izz="0.062120989"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006350 0.609600 0.762000"/>
      </geometry>
      <material name="link_comp_7_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006350 0.609600 0.762000"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_7" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_7"/>
    <origin xyz="0.008171 0.242731 0.381000" rpy="-0.193636 0.500000 0.028254"/>
  </joint>
  <link name="link_comp_8">
    <inertial>
      <mass value="1.105250"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.010932444" ixy="0" ixz="0" iyy="0.005699530" iyz="0" izz="0.016565124"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.248029 0.343997 0.019050"/>
      </geometry>
      <material name="link_comp_8_material">
        <color rgba="0.7 0.6 0.4 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.248029 0.343997 0.019050"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_8" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_8"/>
    <origin xyz="0.002248 0.295550 0.474214" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_9">
    <inertial>
      <mass value="5.753692"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.027924230" ixy="0" ixz="0" iyy="0.273068211" iyz="0" izz="0.247541353"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.716782 0.050000 0.236092"/>
      </geometry>
      <material name="link_comp_9_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.716782 0.050000 0.236092"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_9" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_9"/>
    <origin xyz="0.342576 0.110081 0.165924" rpy="0.000000 0.000000 0.000000"/>
  </joint>
  <link name="link_comp_10">
    <inertial>
      <mass value="2.005777"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.159167763" ixy="0" ixz="0" iyy="0.097060254" iyz="0" izz="0.062120989"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006350 0.609600 0.762000"/>
      </geometry>
      <material name="link_comp_10_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.006350 0.609600 0.762000"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_10" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_10"/>
    <origin xyz="0.025613 0.316287 0.381000" rpy="0.000000 0.390684 0.000000"/>
  </joint>
  <link name="link_comp_11">
    <inertial>
      <mass value="3.057755"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.180447841" ixy="0" ixz="0" iyy="0.089643326" iyz="0" izz="0.090886713"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012700 0.597092 0.592992"/>
      </geometry>
      <material name="link_comp_11_material">
        <color rgba="0.8 0.7 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.012700 0.597092 0.592992"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_to_link_comp_11" type="fixed">
    <parent link="base_link"/>
    <child link="link_comp_11"/>
    <origin xyz="0.298722 0.634461 0.480491" rpy="0.000000 0.000000 0.000000"/>
  </joint>
</robot>
